# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# If your database is SQLite
*.sqlite3

# Virtual environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Static files
staticfiles/

# Local development settings
local_settings.py
.env
Session.vim