<!DOCTYPE html>
<html>
  <head>
    <title>Expense tracker</title>
    {% load static %}
    <!-- Load the static template tag library here -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <nav>
      <ul>
        {% csrf_token %}
        <li><a href="{% url 'profile' %}">Profile</a></li>
        {% if user.is_authenticated %}
        <li>
          <form id="frm_logout" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <a href="javascript:document.getElementById('frm_logout').submit();"
              >logout</a
            >
          </form>
        </li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </nav>
    <div>{% block content %} {% endblock %}</div>
  </body>
</html>
